#gif-body {
    float: left;
    clear: both;
    position: absolute;
}

.rating {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: yellow;
    top: 0px;
    left: 15px;
    z-index: 100;
    text-align: center
}

.gifImg {
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.gifDiv {
    float: left;
    width: 200px;
    height: 200px;
    margin-bottom: 70px;
}